* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
height: 100%;
font-family: Arial, sans-serif;
line-height: 1.6;
padding: 0 20px;

}
header {
    background-color: #f5f2eb;
    color: #101010;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    

}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
.action-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #ed8787;
    cursor: pointer;
    color: #fff;
    border: 1px solid #f78282;
    border-radius: 5px;
    padding: 10px 20px;
}
.action-button:hover {
    background-color: #bd5555;
}

.display-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    border: 1px solid #f5f2eb;
    border-radius: 5px;
    background-color: #f9f9f9;
}

img {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

